:host core-header-panel {
	height : 100%;
}

:host core-header-panel core-toolbar {
	/* this is a bug : https://github.com/Polymer/paper-button/issues/30 */
	/*font-size : inherit;*/
}

:host core-tooltip {
	display : block;
}

:host paper-progress {
	width : 100%;
	display : block;
}

:host paper-progress::shadow #progressContainer {
	background-color : darkgray;
}

:host paper-progress::shadow #activeProgress {
	background-color : #4285f4;
}

:host core-toolbar.transitions.global {
	background-color: darkgray;
	color: white;
	fill: white;
}
